/* ============ reset ============ */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
  }